.container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  column-gap: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid white;
}
.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagem img {
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
}

.title h2 {
  font-size: 2.6em;
  margin-block: 0;
}
