<section class="home">
  <app-home-title></app-home-title>
  <div class="conteiner">
    <div class="content">
      <app-big-card
        imagemSrc="https://www.lukiegames.com/assets/images/GBC/gbc_pokemon_gold_p_68q9gc.jpg"
        cardTitle="Novo jogo pokemon"
        cardDescription="Novo jogo do pokemon sera lançado esse ano"
        id="0"
      ></app-big-card>
    </div>
    <div class="content">
      <app-small-card
        cardTitle="Descoberto novo Pokemon"
        imageURL="https://th.bing.com/th/id/OIP.6OhzRrQxAxRjSF81H4f_fgHaEK?rs=1&pid=ImgDetMain"
        id="1"
      ></app-small-card>
      <app-small-card
        cardTitle="Aprenda a deixas o seu bulbasaur mais poderoso"
        imageURL="https://th.bing.com/th/id/OIP.GGyU6MxYRjXFo-bi-Dxc_wHaEo?rs=1&pid=ImgDetMain"
        id="2"
      ></app-small-card>
      <app-small-card
        cardTitle="Tutorial de como evoluir seu pokemon"
        imageURL="https://media.comicbook.com/2017/09/charizard-1020862.png"
        id="3"
      ></app-small-card>
    </div>
  </div>
</section>
